# This is the executable
game
test_game

# Object files
*.o

# Localfiles
ISSUES.md

# Depreciated, Why? cause bmp is trash, nuff said
*.bmp

# Uhhhh always keep on creating this file somehow...
\"\'\"
